.loginPage{
    background: url("./login2.jpg");
    background-size: cover;
    height: 100vh;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web_title{
    position: absolute;
    margin: 15px 25px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    border: 2px solid black;
    padding: 2px 5px;
    border-radius: 5px 0 5px 0;
    background-color: rgb(36, 36, 36);
}


.loginContent{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 285px;
    padding: 5px;
}

.loginTitle{
    font-family: 'Lora', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.loginForm > label{
    margin: 2px 0px;
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.loginForm > input{
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    outline: 0;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 7px;
}

.loginBtn{
    height: 35px;
    width: 200px;
    font-style: 18px;
    align-self: center;
    background-color: tomato;
    font-size: 16px;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
}

.registerLink{
    margin: 5px;
    font-size: 18px;
}

.registerLink a{
    color: blue;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}